.DS_Store
node_modules/
/dist/
tests/cypress/screenshots/*
tests/cypress/videos/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-admin-keys.json

config/test.env
.env
*.env
config/firebase-admin-keys.json
test/cypress/screenshots